body {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: white;
}

.chars {	
	height: 125px;
	width: 125px;
	margin-top: 5px;
	margin-left: 0px;

}

.images {
	height: 125px;
	width: 125px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-top: 5px;
	margin-left: 0px;
}
#yourcharacter {
	
}
#Luke, #Kenobi, #Sidious, #Maul, .images {
	height: 175px;
	width: 175px;
	background-color: grey;
	margin-right: 10px;
	color: black;
	text-align: center;
}

.enemies {
	border-color: orange;
}
.pickedName {
	border-color: green;
}
.defender {
	border-color: red;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}



.hidden {
	visibility: hidden;
}
